{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
    <h1 class="title">Liste des genres</h1>

    <table class="table table-hover">
        <thead>
            <tr class='table-secondary'>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr class='table-secondary'>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>{{ genre.description }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class='table-secondary'>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('genre_new') }}">Create new</a>
    {% endif %}
{% endblock %}
