{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1 class="title">Book index</h1>

    <table class="table table-hover">
        <thead>
            <tr class='table-secondary'>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">EditionYears</th>
                <th scope="col">PagesNumber</th>
                <th scope="col">CodeIsbn</th>
                <th scope="col">Author</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr class='table-secondary'>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></td>
                <td>{{ book.editionYears }}</td>
                <td>{{ book.pagesNumber }}</td>
                <td>{{ book.codeIsbn }}</td>
                <td>{{ book.author.lastname }} {{ book.author.firstname }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class='table-secondary'>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('book_new') }}">Create new</a>
    {% endif %}
    {{ knp_pagination_render(books) }}
{% endblock %}
