{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table table-hover">
        <tbody>
            <tr class='table-secondary'>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr class='table-secondary'>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr class='table-secondary'>
                <th>EditionYears</th>
                <td>{{ book.editionYears }}</td>
            </tr>
            <tr class='table-secondary'>
                <th>PagesNumber</th>
                <td>{{ book.pagesNumber }}</td>
            </tr>
            <tr class='table-secondary'>
                <th>CodeIsbn</th>
                <td>{{ book.codeIsbn }}</td>
            </tr>
            <tr class='table-secondary'>
                <th>Author</th>
                <td>{{ book.author.lastname }} {{ book.author.firstname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>


    {{ include('book/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
