{% extends 'base.html.twig' %}

{% block title %}Loan index{% endblock %}

{% block body %}
    <h1 class="title">Loan index</h1>

    <table class="table table-hover">
        <thead>
            <tr class='table-secondary'>
                <th>Id</th>
                <th>LoanDate</th>
                <th>ReturnDate</th>
                <th>Borrower</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr class='table-secondary'>
                <td>{{ loan.id }}</td>
                <td>{{ loan.loanDate ? loan.loanDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.returnDate ? loan.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.borrower.lastname}} {{ loan.borrower.firstname}}</td>
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>

                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class='table-secondary'>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('loan_new') }}">Create new</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    {{ knp_pagination_render(loans) }}
    {% endif %}

{% endblock %}
