{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1 class="title">Liste des utilisateurs</h1>

    <table class="table table-hover">
        <thead>
            <tr class='table-secondary'>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Password</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class='table-secondary'>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="user-pass">{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class='table-secondary'>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_new') }}">Create new</a>
    {% endif %}
    {{ knp_pagination_render(users) }}
{% endblock %}
